.dashboard {
    .dashboard_items {
        width: 80%;
        margin: 0 auto;;
        h3.title {
            font-size: 18px;
            color: #493ffc;
            margin: 2rem 1rem 1rem;
        }
    }
}